name: Push to Replicate

on:
  push:
    branches:
      - main

jobs:
  push_to_replicate:
    name: Push to Replicate
    runs-on: ubuntu-latest

    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          docker-images: false

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Hugging Face CLI
        run: |
          python -m pip install --upgrade pip
          pip install huggingface_hub[cli]
          huggingface-cli --version

      - name: Authenticate with Hugging Face
        env:
          HUGGINGFACE_TOKEN: ${{ secrets.HUGGING_FACE_HUB_TOKEN }}
        run: |
          echo "Authenticating with Hugging Face..."
          echo "$HUGGINGFACE_TOKEN" | huggingface-cli login --token

      - name: Setup Cog
        uses: replicate/setup-cog@v2
        with:
          token: ${{ secrets.REPLICATE_CLI_AUTH_TOKEN }}

      - name: Push to Replicate
        run: |
          echo "Pushing model to Replicate..."
          cog push r8.im/tony0587/flux-lora
